.table {
    width: 100%;

    &.fixed-layout {
        table-layout: fixed;
    }

    tr th {
        font-size: 24px;
    }

    tr td {
        font-size: 18px;
    }
    
    th, td {
        padding: 6px 0px;
    }
}