$color-secondary: #fff;
$color-primary: #0597F2;
$color-bg: #024873;
$color-bg-dark: #012840;
$color-dark: #0D0D0D;

@import "./globals.scss";
@import "./form.scss";
@import "./components/Button.scss";
@import "./components/TabHeader.scss";
@import "./components/Dropdown.scss";
@import "./components/Icon.scss";
@import "./components/Table.scss";
@import "./layout/AppHeader.scss";

.app, .loading-page {
    padding: 20px 40px;
    width: 100%;
    font-family: sans-serif;
    background-color: $color-bg-dark;
    height: 100vh;
    color: $color-secondary;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;

    &.with-border {
        border: 1px solid #e0e0e0;
        border-radius: 12px;
    }

    &.container-title, .container-title {
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        width: 100%;
        text-align: center;
    }

    &.container-content, .container-content {
        margin-top: 20px;
    }
    
    &.two-sided {
        display: flex;
    }
    .container-split {
        width: 50%;
    }

    .container-box {
        max-height: 350px;
        overflow-y: auto;
    }
}

hr {
    color: $color-secondary;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    height: 1px;
}

.app-body {
    padding: 0px 30px;

    &.flex {
        padding: 40px 30px;
    }
}

@media (max-width: 1200px) {
    .app {
        padding: 10px;
    }
    
    .container {
        padding: 10px;
        flex-direction: wrap;

        .container-title {
            font-size: 16px;
        }
    }
}